MODEL_ID=BAAI/bge-m3
REVISION=5617a9f61b028005a4858fdac845db406aefb181
DTYPE=float16
PORT=80
HF_HUB_OFFLINE=1
TRANSFORMERS_OFFLINE=1
HF_HOME=/data
HF_HUB_CACHE=/data
HUGGINGFACE_HUB_CACHE=/data
HF_HUB_DISABLE_TELEMETRY=1
TOKENIZATION_WORKERS=16
MAX_CONCURRENT_REQUESTS=128
MAX_BATCH_TOKENS=32768
MAX_CLIENT_BATCH_SIZE=64
AUTO_TRUNCATE=false
PAYLOAD_LIMIT=2000000
